*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #1D2637;
   transform: scale(0.95);
  transform-origin: top center;
  overflow: hidden;
}

html, body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}


.wrapper{
  width:96%;
  margin:20px auto;
}

/* HEADER */
.header{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.header-section{
  display:flex;
  align-items:center;
  gap:15px;
  flex:1;
}

.header-section.center{
  color: white;
}

.header-section.right{
  color: white;
  justify-content: center;
    font-size: 26px;
    font-weight: 700;
}

.header-section.center{
  justify-content:center;
  font-size:30px;
  font-weight:700;
}

.header-section.right{
  justify-content:flex-end;
  font-size:30px;
}

.header-line{
  height:2px;
  background:#475569;
  flex:1;
}

/* LOGO */
.logo{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo-icon{
  font-size:30px;
}

.logo-text .title{
  font-size:20px;
  font-weight:700;
  color: #ffffff;
}

.logo-text .sub{
  font-size:13px;
  color:#f59e0b;
}

.card{
  background:#334155;
  border-radius:12px;
  margin-top:20px;
  padding:14px;
}

.card-top{
  display:flex;
  justify-content:space-between;
  font-size:20px;
  color: #fcfcfc;
}

.divider{
  height:1px;
  background:#475569;
  margin:14px 0;
}

// .section-start td,
// .section-start  tr td {
//   background: #3B4963;
// }
/* ===== BOTTOM ELEMENT SECTION BOX ===== */

.element-row {
  background: #3b4a63;
  font-weight: 700;
}

/* top border to separate sections */
.section-start td {
  border-top: 3px solid #94a3b8;
}

/* give boxed feel to bottom section */
.section-start td,
.section-start ~ tr td {
  background: #2f3e56;
}

/* stop box after 4 rows */
.section-start ~ tr:nth-child(4) td {
  border-bottom: 2px solid #94a3b8;
}


/* INFO GRID */
.info-grid{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  color: #fcfcfc;
}

.info-item{
  padding:10px 15px;
  border-right:1px solid #475569;
}

.info-item:last-child{
  border-right:none;
}

.info-item label{
  font-size:20px;
  color:#cbd5f5;
}

.info-item span{
  font-size:18px;
  font-weight:600;
}

/* TABLE */
.table-card{
  background:#334155;
  border-radius:12px;
  margin-top:25px;
  overflow:hidden;
  color: #ffffff;
}
.table-card {
  display: flex;
  flex-direction: column;
}


.table-title{
  padding:14px 18px;
  font-size:20px;
  font-weight:700;
  border-bottom:1px solid #475569;
  color: #fcfcfc;
}

table{
  width:100%;
  border-collapse:collapse;
  text-align:center;
}

th{
  background:#3b4a63;
  padding:10px;
  border-bottom:1px solid #475569;
}

td{
  padding:10px;
  border-bottom:1px solid #475569;
   font-size:20px;
}

th:first-child,
td:first-child{
  text-align:left;
  padding-left:18px;
  font-weight:600;
  font-size:20px;
}

.danger{
  color:#fcfcfc;
  font-weight:700;
}

.gap-row td{
  border:none;
  height:12px;
}